<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<bean id="SeqGeneratorService" class="com.orient.sysmodel.service.sys.SeqGeneratorServiceImpl">
		<property name="seqGeneratorDAO" ref="SeqGeneratorDAO"></property>
	</bean>
	
	<bean id="CwmCssDAO" class="com.orient.sysmodel.domain.sys.CwmCssDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="MessageDAO" class="com.orient.sysmodel.domain.sys.MessageDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 动态分区信息描述 -->
	<bean id="PartitionRemarkDAO" class="com.orient.sysmodel.domain.sys.PartitionRemarkDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 自增值生产器脚本信息 -->
	<bean id="SeqGeneratorDAO" class="com.orient.sysmodel.domain.sys.SeqGeneratorDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="sysdaofactory" class="com.orient.sysmodel.domain.SysDAOFactory">
		<!--<property name="sysLogDAO" ref="SysLogDAO"/>-->
	</bean>
</beans>
