<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	

    <!-- 流程中数据类权限管理 -->
    <bean id="DataRightDAO" class="com.orient.sysmodel.domain.workflow.DataRightDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 流程中任务动态指定信息 -->
	<bean id="JbpmTaskAssignDAO" class="com.orient.sysmodel.domain.workflow.JbpmTaskAssignDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 流程中任务动态指定信息历史记录 -->
	<bean id="JbpmTaskAssignHistoryDAO" class="com.orient.sysmodel.domain.workflow.JbpmTaskAssignHistoryDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
		<!-- 流程中代办人信息 -->
	<bean id="JbpmConfigUserDAO" class="com.orient.sysmodel.domain.workflow.JbpmConfigUserDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="jbpmCounterSignInfoDAO" class="com.orient.sysmodel.domain.workflow.JbpmCounterSignInfoDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- 流程流转信息保存表 -->
	<bean id="jbpmVariableDAO" class="com.orient.sysmodel.domain.workflow.JbpmVariableDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>
