<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	

    <bean id="CwmFileDAO" class="com.orient.sysmodel.domain.file.CwmFileDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="CwmFileGroupDAO" class="com.orient.sysmodel.domain.file.CwmFileGroupDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="CwmFolderDAO" class="com.orient.sysmodel.domain.file.CwmFolderDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="CwmFileColumnDAO" class="com.orient.sysmodel.domain.file.CwmFileColumnDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FileService" class="com.orient.sysmodel.service.file.FileServiceImpl">
		<property name="dao" ref="CwmFileDAO"></property>
		<property name="groupDao" ref="CwmFileGroupDAO"></property>
		<property name="enumDao" ref="EnumDAO"></property>
		<property name="codeToNameDao" ref="CodeToNameDAO"></property>
	</bean>
	
	<bean id="FileGroupService" class="com.orient.sysmodel.service.file.FileGroupServiceImpl">
		<property name="dao" ref="CwmFileGroupDAO"></property>
	</bean>
	
	<bean id="FolderService" class="com.orient.sysmodel.service.file.FolderServiceImpl">
		<property name="dao" ref="CwmFolderDAO"></property>
	</bean>
	
	
	<!-- mathCad文件上传数据表 -->
	<bean id="MathcadDAO" class="com.orient.sysmodel.domain.file.MathcadDAO" lazy-init="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
</beans>
