<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orient.weibao.mbg.mapper.CarryToolMapper">
  <resultMap id="BaseResultMap" type="com.orient.weibao.mbg.model.CarryTool">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SYS_DATE_TIME" jdbcType="TIMESTAMP" property="sysDateTime" />
    <result column="SYS_USERNAME" jdbcType="VARCHAR" property="sysUsername" />
    <result column="SYS_IS_DELETE" jdbcType="DECIMAL" property="sysIsDelete" />
    <result column="SYS_SECRECY" jdbcType="VARCHAR" property="sysSecrecy" />
    <result column="SYS_SCHEMA" jdbcType="VARCHAR" property="sysSchema" />
    <result column="SYS_OPERATE" jdbcType="VARCHAR" property="sysOperate" />
    <result column="SYS_FLOW" jdbcType="VARCHAR" property="sysFlow" />
    <result column="T_DIVING_TASK_480_ID" jdbcType="VARCHAR" property="tDivingTask480Id" />
    <result column="C_ROW_NUMBER_3486" jdbcType="VARCHAR" property="cRowNumber3486" />
    <result column="C_DEVICE_ID_3486" jdbcType="VARCHAR" property="cDeviceId3486" />
    <result column="C_CARRY_COUNT_3486" jdbcType="VARCHAR" property="cCarryCount3486" />
    <result column="C_FRESH_WATER_3486" jdbcType="VARCHAR" property="cFreshWater3486" />
    <result column="C_PW_VOLUMN_3486" jdbcType="VARCHAR" property="cPwVolumn3486" />
    <result column="C_AIR_WEIGHT_3486" jdbcType="VARCHAR" property="cAirWeight3486" />
    <result column="C_CONNECT_WAY_3486" jdbcType="VARCHAR" property="cConnectWay3486" />
    <result column="C_CABIN_OUTORIN_3486" jdbcType="VARCHAR" property="cCabinOutorin3486" />
    <result column="C_TOTAL_STATE_3486" jdbcType="VARCHAR" property="cTotalState3486" />
    <result column="C_NET_WEIGHT_3486" jdbcType="VARCHAR" property="cNetWeight3486" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SYS_DATE_TIME, SYS_USERNAME, SYS_IS_DELETE, SYS_SECRECY, SYS_SCHEMA, SYS_OPERATE, 
    SYS_FLOW, T_DIVING_TASK_480_ID, C_ROW_NUMBER_3486, C_DEVICE_ID_3486, C_CARRY_COUNT_3486, 
    C_FRESH_WATER_3486, C_PW_VOLUMN_3486, C_AIR_WEIGHT_3486, C_CONNECT_WAY_3486, C_CABIN_OUTORIN_3486, 
    C_TOTAL_STATE_3486, C_NET_WEIGHT_3486
  </sql>
  <select id="selectByExample" parameterType="com.orient.weibao.mbg.model.CarryToolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CARRY_TOOL_480
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_CARRY_TOOL_480
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_CARRY_TOOL_480
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.orient.weibao.mbg.model.CarryToolExample">
    delete from T_CARRY_TOOL_480
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.orient.weibao.mbg.model.CarryTool">
    insert into T_CARRY_TOOL_480 (ID, SYS_DATE_TIME, SYS_USERNAME, 
      SYS_IS_DELETE, SYS_SECRECY, SYS_SCHEMA, 
      SYS_OPERATE, SYS_FLOW, T_DIVING_TASK_480_ID, 
      C_ROW_NUMBER_3486, C_DEVICE_ID_3486, C_CARRY_COUNT_3486, 
      C_FRESH_WATER_3486, C_PW_VOLUMN_3486, C_AIR_WEIGHT_3486, 
      C_CONNECT_WAY_3486, C_CABIN_OUTORIN_3486, C_TOTAL_STATE_3486, 
      C_NET_WEIGHT_3486)
    values (#{id,jdbcType=VARCHAR}, #{sysDateTime,jdbcType=TIMESTAMP}, #{sysUsername,jdbcType=VARCHAR}, 
      #{sysIsDelete,jdbcType=DECIMAL}, #{sysSecrecy,jdbcType=VARCHAR}, #{sysSchema,jdbcType=VARCHAR}, 
      #{sysOperate,jdbcType=VARCHAR}, #{sysFlow,jdbcType=VARCHAR}, #{tDivingTask480Id,jdbcType=VARCHAR}, 
      #{cRowNumber3486,jdbcType=VARCHAR}, #{cDeviceId3486,jdbcType=VARCHAR}, #{cCarryCount3486,jdbcType=VARCHAR}, 
      #{cFreshWater3486,jdbcType=VARCHAR}, #{cPwVolumn3486,jdbcType=VARCHAR}, #{cAirWeight3486,jdbcType=VARCHAR}, 
      #{cConnectWay3486,jdbcType=VARCHAR}, #{cCabinOutorin3486,jdbcType=VARCHAR}, #{cTotalState3486,jdbcType=VARCHAR}, 
      #{cNetWeight3486,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.orient.weibao.mbg.model.CarryTool">
    insert into T_CARRY_TOOL_480
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sysDateTime != null">
        SYS_DATE_TIME,
      </if>
      <if test="sysUsername != null">
        SYS_USERNAME,
      </if>
      <if test="sysIsDelete != null">
        SYS_IS_DELETE,
      </if>
      <if test="sysSecrecy != null">
        SYS_SECRECY,
      </if>
      <if test="sysSchema != null">
        SYS_SCHEMA,
      </if>
      <if test="sysOperate != null">
        SYS_OPERATE,
      </if>
      <if test="sysFlow != null">
        SYS_FLOW,
      </if>
      <if test="tDivingTask480Id != null">
        T_DIVING_TASK_480_ID,
      </if>
      <if test="cRowNumber3486 != null">
        C_ROW_NUMBER_3486,
      </if>
      <if test="cDeviceId3486 != null">
        C_DEVICE_ID_3486,
      </if>
      <if test="cCarryCount3486 != null">
        C_CARRY_COUNT_3486,
      </if>
      <if test="cFreshWater3486 != null">
        C_FRESH_WATER_3486,
      </if>
      <if test="cPwVolumn3486 != null">
        C_PW_VOLUMN_3486,
      </if>
      <if test="cAirWeight3486 != null">
        C_AIR_WEIGHT_3486,
      </if>
      <if test="cConnectWay3486 != null">
        C_CONNECT_WAY_3486,
      </if>
      <if test="cCabinOutorin3486 != null">
        C_CABIN_OUTORIN_3486,
      </if>
      <if test="cTotalState3486 != null">
        C_TOTAL_STATE_3486,
      </if>
      <if test="cNetWeight3486 != null">
        C_NET_WEIGHT_3486,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysDateTime != null">
        #{sysDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUsername != null">
        #{sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="sysIsDelete != null">
        #{sysIsDelete,jdbcType=DECIMAL},
      </if>
      <if test="sysSecrecy != null">
        #{sysSecrecy,jdbcType=VARCHAR},
      </if>
      <if test="sysSchema != null">
        #{sysSchema,jdbcType=VARCHAR},
      </if>
      <if test="sysOperate != null">
        #{sysOperate,jdbcType=VARCHAR},
      </if>
      <if test="sysFlow != null">
        #{sysFlow,jdbcType=VARCHAR},
      </if>
      <if test="tDivingTask480Id != null">
        #{tDivingTask480Id,jdbcType=VARCHAR},
      </if>
      <if test="cRowNumber3486 != null">
        #{cRowNumber3486,jdbcType=VARCHAR},
      </if>
      <if test="cDeviceId3486 != null">
        #{cDeviceId3486,jdbcType=VARCHAR},
      </if>
      <if test="cCarryCount3486 != null">
        #{cCarryCount3486,jdbcType=VARCHAR},
      </if>
      <if test="cFreshWater3486 != null">
        #{cFreshWater3486,jdbcType=VARCHAR},
      </if>
      <if test="cPwVolumn3486 != null">
        #{cPwVolumn3486,jdbcType=VARCHAR},
      </if>
      <if test="cAirWeight3486 != null">
        #{cAirWeight3486,jdbcType=VARCHAR},
      </if>
      <if test="cConnectWay3486 != null">
        #{cConnectWay3486,jdbcType=VARCHAR},
      </if>
      <if test="cCabinOutorin3486 != null">
        #{cCabinOutorin3486,jdbcType=VARCHAR},
      </if>
      <if test="cTotalState3486 != null">
        #{cTotalState3486,jdbcType=VARCHAR},
      </if>
      <if test="cNetWeight3486 != null">
        #{cNetWeight3486,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.orient.weibao.mbg.model.CarryToolExample" resultType="java.lang.Long">
    select count(*) from T_CARRY_TOOL_480
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_CARRY_TOOL_480
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sysDateTime != null">
        SYS_DATE_TIME = #{record.sysDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysUsername != null">
        SYS_USERNAME = #{record.sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.sysIsDelete != null">
        SYS_IS_DELETE = #{record.sysIsDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.sysSecrecy != null">
        SYS_SECRECY = #{record.sysSecrecy,jdbcType=VARCHAR},
      </if>
      <if test="record.sysSchema != null">
        SYS_SCHEMA = #{record.sysSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.sysOperate != null">
        SYS_OPERATE = #{record.sysOperate,jdbcType=VARCHAR},
      </if>
      <if test="record.sysFlow != null">
        SYS_FLOW = #{record.sysFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.tDivingTask480Id != null">
        T_DIVING_TASK_480_ID = #{record.tDivingTask480Id,jdbcType=VARCHAR},
      </if>
      <if test="record.cRowNumber3486 != null">
        C_ROW_NUMBER_3486 = #{record.cRowNumber3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cDeviceId3486 != null">
        C_DEVICE_ID_3486 = #{record.cDeviceId3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cCarryCount3486 != null">
        C_CARRY_COUNT_3486 = #{record.cCarryCount3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cFreshWater3486 != null">
        C_FRESH_WATER_3486 = #{record.cFreshWater3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cPwVolumn3486 != null">
        C_PW_VOLUMN_3486 = #{record.cPwVolumn3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cAirWeight3486 != null">
        C_AIR_WEIGHT_3486 = #{record.cAirWeight3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cConnectWay3486 != null">
        C_CONNECT_WAY_3486 = #{record.cConnectWay3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cCabinOutorin3486 != null">
        C_CABIN_OUTORIN_3486 = #{record.cCabinOutorin3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cTotalState3486 != null">
        C_TOTAL_STATE_3486 = #{record.cTotalState3486,jdbcType=VARCHAR},
      </if>
      <if test="record.cNetWeight3486 != null">
        C_NET_WEIGHT_3486 = #{record.cNetWeight3486,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_CARRY_TOOL_480
    set ID = #{record.id,jdbcType=VARCHAR},
      SYS_DATE_TIME = #{record.sysDateTime,jdbcType=TIMESTAMP},
      SYS_USERNAME = #{record.sysUsername,jdbcType=VARCHAR},
      SYS_IS_DELETE = #{record.sysIsDelete,jdbcType=DECIMAL},
      SYS_SECRECY = #{record.sysSecrecy,jdbcType=VARCHAR},
      SYS_SCHEMA = #{record.sysSchema,jdbcType=VARCHAR},
      SYS_OPERATE = #{record.sysOperate,jdbcType=VARCHAR},
      SYS_FLOW = #{record.sysFlow,jdbcType=VARCHAR},
      T_DIVING_TASK_480_ID = #{record.tDivingTask480Id,jdbcType=VARCHAR},
      C_ROW_NUMBER_3486 = #{record.cRowNumber3486,jdbcType=VARCHAR},
      C_DEVICE_ID_3486 = #{record.cDeviceId3486,jdbcType=VARCHAR},
      C_CARRY_COUNT_3486 = #{record.cCarryCount3486,jdbcType=VARCHAR},
      C_FRESH_WATER_3486 = #{record.cFreshWater3486,jdbcType=VARCHAR},
      C_PW_VOLUMN_3486 = #{record.cPwVolumn3486,jdbcType=VARCHAR},
      C_AIR_WEIGHT_3486 = #{record.cAirWeight3486,jdbcType=VARCHAR},
      C_CONNECT_WAY_3486 = #{record.cConnectWay3486,jdbcType=VARCHAR},
      C_CABIN_OUTORIN_3486 = #{record.cCabinOutorin3486,jdbcType=VARCHAR},
      C_TOTAL_STATE_3486 = #{record.cTotalState3486,jdbcType=VARCHAR},
      C_NET_WEIGHT_3486 = #{record.cNetWeight3486,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.orient.weibao.mbg.model.CarryTool">
    update T_CARRY_TOOL_480
    <set>
      <if test="sysDateTime != null">
        SYS_DATE_TIME = #{sysDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUsername != null">
        SYS_USERNAME = #{sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="sysIsDelete != null">
        SYS_IS_DELETE = #{sysIsDelete,jdbcType=DECIMAL},
      </if>
      <if test="sysSecrecy != null">
        SYS_SECRECY = #{sysSecrecy,jdbcType=VARCHAR},
      </if>
      <if test="sysSchema != null">
        SYS_SCHEMA = #{sysSchema,jdbcType=VARCHAR},
      </if>
      <if test="sysOperate != null">
        SYS_OPERATE = #{sysOperate,jdbcType=VARCHAR},
      </if>
      <if test="sysFlow != null">
        SYS_FLOW = #{sysFlow,jdbcType=VARCHAR},
      </if>
      <if test="tDivingTask480Id != null">
        T_DIVING_TASK_480_ID = #{tDivingTask480Id,jdbcType=VARCHAR},
      </if>
      <if test="cRowNumber3486 != null">
        C_ROW_NUMBER_3486 = #{cRowNumber3486,jdbcType=VARCHAR},
      </if>
      <if test="cDeviceId3486 != null">
        C_DEVICE_ID_3486 = #{cDeviceId3486,jdbcType=VARCHAR},
      </if>
      <if test="cCarryCount3486 != null">
        C_CARRY_COUNT_3486 = #{cCarryCount3486,jdbcType=VARCHAR},
      </if>
      <if test="cFreshWater3486 != null">
        C_FRESH_WATER_3486 = #{cFreshWater3486,jdbcType=VARCHAR},
      </if>
      <if test="cPwVolumn3486 != null">
        C_PW_VOLUMN_3486 = #{cPwVolumn3486,jdbcType=VARCHAR},
      </if>
      <if test="cAirWeight3486 != null">
        C_AIR_WEIGHT_3486 = #{cAirWeight3486,jdbcType=VARCHAR},
      </if>
      <if test="cConnectWay3486 != null">
        C_CONNECT_WAY_3486 = #{cConnectWay3486,jdbcType=VARCHAR},
      </if>
      <if test="cCabinOutorin3486 != null">
        C_CABIN_OUTORIN_3486 = #{cCabinOutorin3486,jdbcType=VARCHAR},
      </if>
      <if test="cTotalState3486 != null">
        C_TOTAL_STATE_3486 = #{cTotalState3486,jdbcType=VARCHAR},
      </if>
      <if test="cNetWeight3486 != null">
        C_NET_WEIGHT_3486 = #{cNetWeight3486,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orient.weibao.mbg.model.CarryTool">
    update T_CARRY_TOOL_480
    set SYS_DATE_TIME = #{sysDateTime,jdbcType=TIMESTAMP},
      SYS_USERNAME = #{sysUsername,jdbcType=VARCHAR},
      SYS_IS_DELETE = #{sysIsDelete,jdbcType=DECIMAL},
      SYS_SECRECY = #{sysSecrecy,jdbcType=VARCHAR},
      SYS_SCHEMA = #{sysSchema,jdbcType=VARCHAR},
      SYS_OPERATE = #{sysOperate,jdbcType=VARCHAR},
      SYS_FLOW = #{sysFlow,jdbcType=VARCHAR},
      T_DIVING_TASK_480_ID = #{tDivingTask480Id,jdbcType=VARCHAR},
      C_ROW_NUMBER_3486 = #{cRowNumber3486,jdbcType=VARCHAR},
      C_DEVICE_ID_3486 = #{cDeviceId3486,jdbcType=VARCHAR},
      C_CARRY_COUNT_3486 = #{cCarryCount3486,jdbcType=VARCHAR},
      C_FRESH_WATER_3486 = #{cFreshWater3486,jdbcType=VARCHAR},
      C_PW_VOLUMN_3486 = #{cPwVolumn3486,jdbcType=VARCHAR},
      C_AIR_WEIGHT_3486 = #{cAirWeight3486,jdbcType=VARCHAR},
      C_CONNECT_WAY_3486 = #{cConnectWay3486,jdbcType=VARCHAR},
      C_CABIN_OUTORIN_3486 = #{cCabinOutorin3486,jdbcType=VARCHAR},
      C_TOTAL_STATE_3486 = #{cTotalState3486,jdbcType=VARCHAR},
      C_NET_WEIGHT_3486 = #{cNetWeight3486,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>