<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orient.weibao.mbg.mapper.ProductStructureMapper">
  <resultMap id="BaseResultMap" type="com.orient.weibao.mbg.model.ProductStructure">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SYS_DATE_TIME" jdbcType="TIMESTAMP" property="sysDateTime" />
    <result column="SYS_USERNAME" jdbcType="VARCHAR" property="sysUsername" />
    <result column="SYS_IS_DELETE" jdbcType="DECIMAL" property="sysIsDelete" />
    <result column="SYS_SECRECY" jdbcType="VARCHAR" property="sysSecrecy" />
    <result column="SYS_SCHEMA" jdbcType="VARCHAR" property="sysSchema" />
    <result column="SYS_OPERATE" jdbcType="VARCHAR" property="sysOperate" />
    <result column="SYS_FLOW" jdbcType="VARCHAR" property="sysFlow" />
    <result column="C_NAME_3214" jdbcType="VARCHAR" property="cName3214" />
    <result column="C_PID_3214" jdbcType="VARCHAR" property="cPid3214" />
    <result column="T_CHECK_ROW_480_ID" jdbcType="VARCHAR" property="tCheckRow480Id" />
    <result column="C_TYPE_3214" jdbcType="VARCHAR" property="cType3214" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SYS_DATE_TIME, SYS_USERNAME, SYS_IS_DELETE, SYS_SECRECY, SYS_SCHEMA, SYS_OPERATE, 
    SYS_FLOW, C_NAME_3214, C_PID_3214, T_CHECK_ROW_480_ID, C_TYPE_3214
  </sql>
  <select id="selectByExample" parameterType="com.orient.weibao.mbg.model.ProductStructureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_PRODUCT_STRUCTURE_480
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_PRODUCT_STRUCTURE_480
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_PRODUCT_STRUCTURE_480
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.orient.weibao.mbg.model.ProductStructureExample">
    delete from T_PRODUCT_STRUCTURE_480
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.orient.weibao.mbg.model.ProductStructure">
    insert into T_PRODUCT_STRUCTURE_480 (ID, SYS_DATE_TIME, SYS_USERNAME, 
      SYS_IS_DELETE, SYS_SECRECY, SYS_SCHEMA, 
      SYS_OPERATE, SYS_FLOW, C_NAME_3214, 
      C_PID_3214, T_CHECK_ROW_480_ID, C_TYPE_3214
      )
    values (#{id,jdbcType=VARCHAR}, #{sysDateTime,jdbcType=TIMESTAMP}, #{sysUsername,jdbcType=VARCHAR}, 
      #{sysIsDelete,jdbcType=DECIMAL}, #{sysSecrecy,jdbcType=VARCHAR}, #{sysSchema,jdbcType=VARCHAR}, 
      #{sysOperate,jdbcType=VARCHAR}, #{sysFlow,jdbcType=VARCHAR}, #{cName3214,jdbcType=VARCHAR}, 
      #{cPid3214,jdbcType=VARCHAR}, #{tCheckRow480Id,jdbcType=VARCHAR}, #{cType3214,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.orient.weibao.mbg.model.ProductStructure">
    insert into T_PRODUCT_STRUCTURE_480
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sysDateTime != null">
        SYS_DATE_TIME,
      </if>
      <if test="sysUsername != null">
        SYS_USERNAME,
      </if>
      <if test="sysIsDelete != null">
        SYS_IS_DELETE,
      </if>
      <if test="sysSecrecy != null">
        SYS_SECRECY,
      </if>
      <if test="sysSchema != null">
        SYS_SCHEMA,
      </if>
      <if test="sysOperate != null">
        SYS_OPERATE,
      </if>
      <if test="sysFlow != null">
        SYS_FLOW,
      </if>
      <if test="cName3214 != null">
        C_NAME_3214,
      </if>
      <if test="cPid3214 != null">
        C_PID_3214,
      </if>
      <if test="tCheckRow480Id != null">
        T_CHECK_ROW_480_ID,
      </if>
      <if test="cType3214 != null">
        C_TYPE_3214,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysDateTime != null">
        #{sysDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUsername != null">
        #{sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="sysIsDelete != null">
        #{sysIsDelete,jdbcType=DECIMAL},
      </if>
      <if test="sysSecrecy != null">
        #{sysSecrecy,jdbcType=VARCHAR},
      </if>
      <if test="sysSchema != null">
        #{sysSchema,jdbcType=VARCHAR},
      </if>
      <if test="sysOperate != null">
        #{sysOperate,jdbcType=VARCHAR},
      </if>
      <if test="sysFlow != null">
        #{sysFlow,jdbcType=VARCHAR},
      </if>
      <if test="cName3214 != null">
        #{cName3214,jdbcType=VARCHAR},
      </if>
      <if test="cPid3214 != null">
        #{cPid3214,jdbcType=VARCHAR},
      </if>
      <if test="tCheckRow480Id != null">
        #{tCheckRow480Id,jdbcType=VARCHAR},
      </if>
      <if test="cType3214 != null">
        #{cType3214,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.orient.weibao.mbg.model.ProductStructureExample" resultType="java.lang.Long">
    select count(*) from T_PRODUCT_STRUCTURE_480
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_PRODUCT_STRUCTURE_480
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sysDateTime != null">
        SYS_DATE_TIME = #{record.sysDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysUsername != null">
        SYS_USERNAME = #{record.sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.sysIsDelete != null">
        SYS_IS_DELETE = #{record.sysIsDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.sysSecrecy != null">
        SYS_SECRECY = #{record.sysSecrecy,jdbcType=VARCHAR},
      </if>
      <if test="record.sysSchema != null">
        SYS_SCHEMA = #{record.sysSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.sysOperate != null">
        SYS_OPERATE = #{record.sysOperate,jdbcType=VARCHAR},
      </if>
      <if test="record.sysFlow != null">
        SYS_FLOW = #{record.sysFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.cName3214 != null">
        C_NAME_3214 = #{record.cName3214,jdbcType=VARCHAR},
      </if>
      <if test="record.cPid3214 != null">
        C_PID_3214 = #{record.cPid3214,jdbcType=VARCHAR},
      </if>
      <if test="record.tCheckRow480Id != null">
        T_CHECK_ROW_480_ID = #{record.tCheckRow480Id,jdbcType=VARCHAR},
      </if>
      <if test="record.cType3214 != null">
        C_TYPE_3214 = #{record.cType3214,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_PRODUCT_STRUCTURE_480
    set ID = #{record.id,jdbcType=VARCHAR},
      SYS_DATE_TIME = #{record.sysDateTime,jdbcType=TIMESTAMP},
      SYS_USERNAME = #{record.sysUsername,jdbcType=VARCHAR},
      SYS_IS_DELETE = #{record.sysIsDelete,jdbcType=DECIMAL},
      SYS_SECRECY = #{record.sysSecrecy,jdbcType=VARCHAR},
      SYS_SCHEMA = #{record.sysSchema,jdbcType=VARCHAR},
      SYS_OPERATE = #{record.sysOperate,jdbcType=VARCHAR},
      SYS_FLOW = #{record.sysFlow,jdbcType=VARCHAR},
      C_NAME_3214 = #{record.cName3214,jdbcType=VARCHAR},
      C_PID_3214 = #{record.cPid3214,jdbcType=VARCHAR},
      T_CHECK_ROW_480_ID = #{record.tCheckRow480Id,jdbcType=VARCHAR},
      C_TYPE_3214 = #{record.cType3214,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.orient.weibao.mbg.model.ProductStructure">
    update T_PRODUCT_STRUCTURE_480
    <set>
      <if test="sysDateTime != null">
        SYS_DATE_TIME = #{sysDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysUsername != null">
        SYS_USERNAME = #{sysUsername,jdbcType=VARCHAR},
      </if>
      <if test="sysIsDelete != null">
        SYS_IS_DELETE = #{sysIsDelete,jdbcType=DECIMAL},
      </if>
      <if test="sysSecrecy != null">
        SYS_SECRECY = #{sysSecrecy,jdbcType=VARCHAR},
      </if>
      <if test="sysSchema != null">
        SYS_SCHEMA = #{sysSchema,jdbcType=VARCHAR},
      </if>
      <if test="sysOperate != null">
        SYS_OPERATE = #{sysOperate,jdbcType=VARCHAR},
      </if>
      <if test="sysFlow != null">
        SYS_FLOW = #{sysFlow,jdbcType=VARCHAR},
      </if>
      <if test="cName3214 != null">
        C_NAME_3214 = #{cName3214,jdbcType=VARCHAR},
      </if>
      <if test="cPid3214 != null">
        C_PID_3214 = #{cPid3214,jdbcType=VARCHAR},
      </if>
      <if test="tCheckRow480Id != null">
        T_CHECK_ROW_480_ID = #{tCheckRow480Id,jdbcType=VARCHAR},
      </if>
      <if test="cType3214 != null">
        C_TYPE_3214 = #{cType3214,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orient.weibao.mbg.model.ProductStructure">
    update T_PRODUCT_STRUCTURE_480
    set SYS_DATE_TIME = #{sysDateTime,jdbcType=TIMESTAMP},
      SYS_USERNAME = #{sysUsername,jdbcType=VARCHAR},
      SYS_IS_DELETE = #{sysIsDelete,jdbcType=DECIMAL},
      SYS_SECRECY = #{sysSecrecy,jdbcType=VARCHAR},
      SYS_SCHEMA = #{sysSchema,jdbcType=VARCHAR},
      SYS_OPERATE = #{sysOperate,jdbcType=VARCHAR},
      SYS_FLOW = #{sysFlow,jdbcType=VARCHAR},
      C_NAME_3214 = #{cName3214,jdbcType=VARCHAR},
      C_PID_3214 = #{cPid3214,jdbcType=VARCHAR},
      T_CHECK_ROW_480_ID = #{tCheckRow480Id,jdbcType=VARCHAR},
      C_TYPE_3214 = #{cType3214,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>