<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">



	<!--<bean id="InitFileDesc" class="com.orient.bigdata.init.InitFileDesc" scope="singleton"/>-->
	<bean id="ListenerOrderService" class="com.orient.web.base.OrientEventBus.ListenerOrderService" scope="singleton"/>

	<!--override the default one-->
	<bean id="applicationEventMulticaster" class="com.orient.web.base.OrientEventBus.OrientApplicationEventMulticaster" />

</beans>